Options -Indexes
ErrorDocument 404 /
ErrorDocument 403 /
RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_URI} !(^(.*\.png|.*\.jpg|.*\.css|.*\.js|.*\.ico|.*\.svg|.*\.txt)$) [NC]
RewriteRule . index.php [NC,L]